<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="venta.component.css">
    <title>Tabla de Productos</title>
    <style>
       
    </style>
</head>
<body>
   
    
    <div class="table-container">
       <a href="#" class="atras"> <i class="fa-solid fa-angle-left" href="#" ></i>Atras </a>
        <a href="" class="campa"><i class="fa-solid fa-bell" values="campa"></i></a>
        <table>
            <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Descuento</th>
                <th>Total</th>
            </tr>
            <tr>
                <td>Agua Epura 1L</td>
                <td>$15</td>
                <td>2</td>
                <td>N</td>
                <td>$30</td>
            </tr>
            <tr>
                <td>Doritos</td>
                <td>$20</td>
                <td>1</td>
                <td>$2</td>
                <td>$18</td>
            </tr>
            <tr class="total-row">
                <td colspan="4">Total a pagar:</td>
                <td>$44</td>
            </tr>
        </table>
        <div class="actions">
            <div>
                <button class="add">+</button>
                <button class="delete">Eliminar</button>
            </div>
            <button class="save">Guardar</button>
        </div>
    </div>
</body>
</html>
