<link rel="stylesheet" href="../../../../css/homeG.css">


<body>
    <div class="fondoCont">

        <div class="Encabezados">
            <h1 class="Examiner">Productos</h1>
        </div>

        <div>
            <div class="conteReturn">
                <button class="buttonReturn">
                <i class="bi bi-house-fill"></i>
                  Regresar
                </button>
              </div>
        </div>
    
        <div class="card-group">
    
            <div class="card">
              <img src="https://th.bing.com/th/id/OIP.yrZ8ghNH5pKPEfKYbWaVvwHaFj?rs=1&pid=ImgDetMain" class="card-img-top card-image" alt="...">
              <div class="card-body">
                <h5 class="card-title">Gansito</h5>
                <p class="card-text"> Precio: $20</p>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary">Existencias: 24</small>
            </div>
            </div>
    
            <div class="card">
              <img src="https://th.bing.com/th/id/OIP.82u2MKYwCondJKZZ6p7mfQAAAA?rs=1&pid=ImgDetMain" class="card-img-top card-image" alt="...">
              <div class="card-body">
                <h5 class="card-title">Doritos Dinamita</h5>
                <p class="card-text">Precio: $20</p>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary">Existencias: 12</small>
              </div>
            </div>
    
            <div class="card">
              <img src="https://1.bp.blogspot.com/-UHazaeh-XSU/U5fUm3-YAhI/AAAAAAAAAf8/hpSu2p2NNrY/s1600/SAM_4316.JPG" class="card-img-top card-image" alt="...">
              <div class="card-body">
                <h5 class="card-title">Crackets</h5>
                <p class="card-text">Precio: $18</p>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary">Existencias: 6</small>
              </div>
            </div>
    
            <div class="card">
                <img src="https://th.bing.com/th/id/R.cfe4821823f8797b60fbe4d07e776539?rik=0fijP3nqGo4Uiw&pid=ImgRaw&r=0" class="card-img-top card-image" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Paletas de hielo</h5>
                  <p class="card-text">Precio: $15</p>
                </div>
                <div class="card-footer">
                  <small class="text-body-secondary">Existencias: 42</small>
                </div>
            </div>
    
          </div>
    </div>
</body>


