<link rel="stylesheet" href="../../../../css/naveg.css">
<nav class="NavMacondo">
    <!--<img src="https://th.bing.com/th/id/OIP.6kd2LWJh0qQYiQHz6Al1pgHaHa?rs=1&pid=ImgDetMain">-->
    <img url="../../../../../public/SrMacondo.png">
    <h1 id="tituloMacondo" class="Examiner">Emplados </h1>
    <p id="indiceMacondo" class="balsamiq-sans-regular">Sr. Macondo</p>
    <div style="margin-left: auto;">     
        <button class="buttonIngresar" (click)="regresar()">
            Salir
        </button>
    </div>
</nav>
<body id="fondo">
    <router-outlet></router-outlet>
</body>

<router-outlet></router-outlet>