<link rel="stylesheet" href="../../../../../css/sacontenido.css">

<body>
    <div class="fondoPage">
        <div>
            <h1 class="Examiner">Sucursal</h1>
        </div>

        <div class="containerBotones">
            <div class="button-groupBotones">
                <button class="botonesRegresar">Atras</button>
            </div>
            <div class="button-groupBotones">
                <button class="botonesRegresar">Home</button>
            </div>
        </div>

        <div class="contenedorInfo">
            <h3 >IDSucursal</h3>
            <div class="mb-3">
              <label for="formGroupExampleInput2" class="form-label">Nombre Sucursal</label>
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Sucursal">
            </div>
            <div class="mb-3">
              <label for="formGroupExampleInput" class="form-label">Localización</label>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Localización">
            </div>
  
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-outline-success">Modificar datos</button>
                <button type="button" class="btn btn-outline-danger">Eliminar sucursal</button>
            </div>
        </div>

           
    </div>

    <div style="margin-top: 1rem;">
        <p>Sucursales<p>
    </div>

</body>
    

    