<link rel="stylesheet" href="../../../../../css/sacontenido.css">

<body>
    <div class="fondoPage">
        <div>
            <h1 class="Examiner">Sucursales</h1>
        </div>

        <div class="containerBotones">
            <div class="button-groupBotones">
                <button class="botonesRegresar">Atras</button>
            </div>
        </div>

            <div class="tableContainer">
                <table class="styled-table">
                    <thead>
                      <tr>
                        <th scope="col">Identificador</th>
                        <th scope="col">Juego</th>
                        <th scope="col">Costo</th>
                        <th scope="col">Precio de renta</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">SJ001</th>
                        <td>Billar</td>
                        <td>10000</td>
                        <td>$15 por 15min</td>
                      </tr>
                      <tr>
                        <td scope="row">SJ003</td>
                        <td>Air Hockey</td>
                        <td>$1800</td>
                        <td>$40 por hora</td>
                      </tr>
                    <tr>
                        <td scope="row">SJ004</td>
                        <td>Pinball</td>
                        <td>$1500</td>
                        <td>$60 por hora</td>
                    </tr>
                    <tr>
                        <td scope="row">S006</td>
                        <td>Ping Pong</td>
                        <td>$700</td>
                        <td>$35 por hora</td>
                    </tr>
                    <tr>
                        <td scope="row">S007</td>
                        <td>Arcade Retro</td>
                        <td>$900</td>
                        <td>$45 por hora</td>
                    </tr>
                      
                    </tbody>
                  </table>
                  
                  
            </div>
            <div>
                <button class="botonesAgregar">
                    Agregar servicio
                </button>
            </div>
    </div>
    <div style="margin-top: 1rem;">
        <p>Servicios<p>
    </div>
</body>