@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teachers&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/*Fondo blanco de los contenedores*/
.fondoCont {
    background-color: none;
    width: 64.5rem;
    height: auto;
    min-height: 30rem;
}

/*fuente de los subtitulos*/
.balsamiq-sans-regular {
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: rgb(46, 22, 7);
  }

  /*Longitudes de la imagen de cada card*/
  .card-image {
    width: 90%; /* La imagen ocupa el 100% del ancho del contenedor padre */
    height: auto; /* Mantiene la proporción de la imagen */
    max-height: 9rem; /* Altura máxima de la imagen */
    object-fit: cover; /* Ajusta la imagen para que cubra el área de la imagen */
    margin: 10px; /* Margen alrededor de la imagen */
  }

  /*Centrado del encabezado*/
 .Encabezados {
    text-align: center;
 }

  /*Fuente*/
  .teachers {
    font-family: "Teachers", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /*Titulos de los encabezados*/
  .Examiner {
    font-family: 'Examiner NF W01 Bold';
    letter-spacing: 0.3rem;
  }

  /*botones de ver mas*/
  .More {
    width: 5rem; /* Establece el ancho deseado */
    height: 1.5rem; /* Establece la altura deseada */
    font-size: 1rem; /* Ajusta el tamaño del texto si es necesario */
    background-color:  rgb(179, 143, 117); /* Color de fondo del botón */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    color: rgb(255, 255, 255); /* Color del texto */
    border: none; /* Elimina el borde por defecto */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
    margin: 1rem;
  }

  /*parrafos de texto justificados*/
  p {
    text-align: justify;
  }

  /*Contenedor de los cuadros de texto con info del banco*/
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
    gap: 20px; /* Espacio entre los párrafos */
  }

  /*Cuadros div con info del banco*/
  .CuadroBanc {
    width: 30rem;
    height: auto;
  }

  .CuadroEmail1 {
    width: 40rem;
    height: auto;
    
  }
  .CuadroEmail2 {
    width: 10rem;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  /*Contenedores del div*/
  .containerDiv {
    display: flex;
    gap: 20px; /* Espacio entre los divs */
    align-items: center;
  }

  .containerDivA {
    display: flex;
    gap: 20px; /* Espacio entre los divs */
    align-items: center;
    margin-left: 1rem;
  }


  /*Cajas de los divs*/
  .box {
    flex: 1; /* Hace que ambos divs ocupen el mismo espacio */
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    text-align: center;
  }

  /*Recuadros con informacion bancaria*/
  .recuadro {
    padding: 8px;
    border: 2px solid #885200; /* Borde punteado de 3px de ancho y color azul */
    border-radius: 10px;
    background-color: #faece0;
    color: #6b3400; /* Color del texto */
    font-family: Arial, sans-serif;
    font-size: 12px;
    text-align: center;
    letter-spacing: 3px;
  }


  /*Control de los botones de regreso a home*/
  .conteReturn {
    display: flex;
    justify-content: flex-end; /* Alinea los botones a la derecha */
    gap: 10px; /* Espacio entre los botones */
    padding: 20px; /* Espacio interno del contenedor */
  }
  .buttonReturn {
    display: flex;
    align-items: center; /* Centra el contenido del botón verticalmente */
    justify-content: center; /* Centra el contenido del botón horizontalmente */
    padding: 10px 20px; /* Espacio interno del botón */
    background-color: rgb(87, 70, 64); /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    font-size: 16px; /* Tamaño del texto */
    cursor: pointer; /* Cambia el cursor cuando se pasa sobre el botón */
    border-radius: 5px; /* Bordes redondeados */
    text-decoration: none; /* Quita el subrayado si es un enlace */
  }
  .buttonReturn:hover{
    background-color: rgb(58, 26, 14); /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    text-decoration: none; /* Quita el subrayado si es un enlace */
  }
  .buttonReturn i {
    margin-right: 5px; /* Espacio entre el ícono y el texto */
  }


  /*Para email y nombre*/
  .email-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }


  /*agragado para imput*/

  .field {
    margin-bottom: 20px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .custom-input {
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--surface-overlay);
    padding: 0.5rem;
    border: 1px solid var(--surface-border);
    border-radius: 0.25rem;
    outline: none;
  }
  
  .custom-input:focus {
    border-color: var(--primary-color);
  }

  /*Boton guardar*/

  .guardar {
    background-color: rgb(58, 26, 14);
    color:rgb(255, 255, 255);
    margin: 0.5rem;
    width: 9rem; /* Establece el ancho deseado */
    height: 2.5rem; /* Establece la altura deseada */
    font-size: 1rem; /* Ajusta el tamaño del texto si es necesario */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border: none; /* Elimina el borde por defecto */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
  }

  .guardar:hover {
    background-color: rgb(8, 125, 107);
    color:rgb(255, 255, 255);
}