<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">
    <div class="content">
      <div class="left-side">
        <a>Registrar/Modificar Producto</a>
        <button>Producto</button>
        <a>Registrar/Modificar Proveedor</a>
        <button>Proveedor</button>
        <a>Registrar/Modificar Asistencia</a>
        <button>Empleado</button>
        <a>Registrar/Modificar Recordatorio</a>
        <button>Recordatorio</button>
      </div>
      <div class="right-side">
        <div class="item">
        <img src="https://th.bing.com/th/id/OIP.6kd2LWJh0qQYiQHz6Al1pgHaHa?rs=1&pid=ImgDetMain">
        </div>
      </div>
    </div>
  </div>
</body>
</html>
