<link rel="stylesheet" href="../../../../css/homeG.css">

<div class="fondoCont">
    <div class="Encabezados">
        <h1 class="Examiner">Notifícame</h1>
    </div>
    
    <!--Botones de navegacion a home-->
    <div>
        <div class="conteReturn">
            <button class="buttonReturn">
            <i class="bi bi-house-fill"></i>
              Regresar
            </button>
          </div>
    </div>

    <h5 class="balsamiq-sans-regular">¿Deseas recibir notificaciones?</h5>
    <p>Mantente al dia con nuestros productos en oferta o comidas del día con Web Sr. Macondo</p>
    <div class="containerDivA">
        <div class="CuadroEmail1">
          <!--Para ingresar el nombre y el correo-->
          <div class="field">
            <label for="firstname1">Nombre</label>
            <input id="firstname1" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
          </div>
          <div class="field">
            <label for="lastname1">Email</label>
            <input id="lastname1" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
          </div>

        </div>
        <div class="CuadroEmail2">
            <button class="guardar">Guardar</button>
        </div>

    </div>