<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horario del Juego</title>
    <link rel="stylesheet" href="juego.component.css">
    <style>
       
    </style>
</head>
<body>
    <div class="container">
        <h1>Horario Nombre_del_juego</h1> 
        <table>
            <thead>
                <tr>
                    <th>Hora</th>
                    <th>Estado</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>9:03-10:03</td>
                    <td>apartado <button class="btn-trash"></button></td>
                    <td><i class="fa-solid fa-trash" style="color: #ff0000;"></i></td>
                    
                </tr>
                <tr>
                    <td>14:00-15:00</td>
                    <td>apartado </td> 
                    <td><i class="fa-solid fa-trash" style="color: #ff0000;"></i></td>
                </tr>
                
            </tbody>
        </table>
        <div class="btn-container">
            <button class="btn btn-cancelar">Cancelar</button>
            <button class="btn btn-guardar">Guardar</button>
        </div>
    </div>
</body>
</html>
