<link rel="stylesheet" href="../../../../../css/sacontenido.css">

<body>
    <div class="fondoPage">
        <div>
            <h1 class="Examiner">Servicio</h1>
        </div>

        <div class="containerBotones">
            <div class="button-groupBotones">
                <button class="botonesRegresar">Atras</button>
            </div>
            <div class="button-groupBotones">
                <button class="botonesRegresar">Home</button>
            </div>
        </div>

        <div class="contenedorInfo">
            <h3 >IDServicio</h3>
            <div class="mb-3">
              <label for="formGroupExampleInput2" class="form-label">Juego</label>
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Sucursal">
            </div>
            <div class="mb-3">
              <label for="formGroupExampleInput" class="form-label">Costo</label>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Localización">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Precio Renta</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Localización">
              </div>
  
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-outline-success">Modificar datos</button>
                <button type="button" class="btn btn-outline-danger">Eliminar servicio</button>
            </div>
        </div>

           
    </div>

    <div style="margin-top: 1rem;">
        <p>Servicios<p>
    </div>

</body>